/* global */
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body{
    background-color: rgb(173, 196, 230);
}

/* header section */
header{
    text-align: center;
    font-family: sans-serif;
    padding: 1.5vw 0 1.5vw 0;
    background-color: rgb(23, 23, 90);
    display: flex;
    justify-content: center;
}

h1{
    background: rgb(23, 23, 90);
    color: lightgray;
    font-size: 1rem;
    width: 6em;
}

/* hero section */
.hero{
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

h2{
    font-size: 4.5em;
    z-index: 1;
    font-family: Verdana;
    margin-bottom: 2%;
}

button{
    width: 10em;
    height: 3em;
    z-index: 1;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
}

button:hover{
    background-color: lightgray;
}

.hero-bg{
    position: absolute;
    height: 375px;
}

/* content section */
.row{
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0 2em 0;
}

.column{
    width: 400px;
}

.blank-space{
    width: 100%;
    height: 160px;
    margin: 0.5em 0 0.5em 0;
}

#content1{
    background-image: url("https://picsum.photos/400/160");
}

#content2{
    background-image: url("https://picsum.photos/400/160/");
}

#content3{
    background-image: url("https://picsum.photos/400/160//");
}

h3{
    font-size: 1.5em;
    font-weight: lighter;
    font-family: Tahoma;
}

p{
    font-family: Tahoma;
}

@media(max-width: 1250px){
    .column{
        width: 32%;
    }
}

@media(max-width: 900px){
    .row{
        flex-direction: column;
        align-items: center;
    }

    .column{
        width: 45%;
        margin-bottom: 2em;
    }

    h2{
        font-size: 4.5em;
    }

    h3{
        font-size: 1.3em;
    }

    p{
        font-size: 90%;
    }
}